---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome to Jonathan Tarness's Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>About</h2>
  <p>
    Thank you for finding my little island in the gigantic ocean of the
    internet! I am currently working as a System Admistrator while working on
    programming projects on the side. View my <a href={"/blog"}>blog</a> for random
    nonsenes. If you are intrested on my personal tech stack, please view my <a
      href={"/tech"}>tech</a
    > page.
  </p>
</BaseLayout>
