---
const platform = "github";
const username = "jtarness";
---
<style>
  footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      bottom: 0;
    }
</style>


<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Made with <a href={`https://astro.build/`}>Astro</a></p>
</footer>
