---
const platform = "github";
const username = "jtarness";
---
<style>
  footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      bottom: 0;
    }
</style>


<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p>
  <p>Connect with me on <a href='https://linkedin.com/in/jonathan-t-ba5408b0/'>LinkedIn</a></p>
</footer>
